.splash-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #006439, #00c06b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.8s ease-in-out;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

/* LOGO DESDE ABAJO HACIA ARRIBA */
.splash-logo {
  width: 350px;
  max-width: 350%;

  animation: slideUp 1.2s ease-out forwards;
}

/* Texto */
.splash-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
}

/* Línea 1 */
.linea1 {
  font-size: 1.4rem;
  font-weight: 300; /* finita */
  color: #ffffff;   /* verde */
}

/* Línea 2 */
.linea2 {
  font-size: 1.6rem;
  font-weight: 700; /* gruesa */
  color: #ffffff;   /* verde */
}


/* --- ANIMACIONES --- */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  0% {
    transform: translateY(500px); /* BIEN ABAJO ❗ */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* POSICIÓN FINAL */
    opacity: 1;
  }
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
