.ben-page{
  min-height:100vh; /* 🔥 antes height */
  width:100%;
  background: linear-gradient(to bottom, #f9ffcf 0%, #8bd461 50%, #286e00 100%);
  display:flex;
  flex-direction:column;
  font-family:"Helvetica",sans-serif;
  overflow-y:auto; /* 🔥 permite scroll */
}

/* HEADER */

.ben-header{
  width:100%;
  background: #ffe529;
  padding:14px 16px; /* 🔥 un poco más chico */
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0px 2px 4px rgba(0,0,0,0.08);
}

.ben-header-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.ben-logo{
   width: 80px;
  height: 45px;
}

.ben-title{
  margin:0;
  font-size:1.1rem; /* 🔥 ajustado */
  font-weight:800;
  color:#1b5e20;
}

/* BOTON VOLVER */

.ben-back{
  background:#0a6f0a;
  
  right: 20px;
  border:none;
  padding:8px 30px; /* 🔥 más compacto */
  border-radius:12px;
  font-weight:700;
  font-size: 15px;
  color:#e1e1e1;
  cursor:pointer;
}

/* CONTENIDO */

.ben-content{
  flex:1;
  display:flex;
  justify-content:center;
  padding:15px;
}

/* LISTA BENEFICIOS */

.ben-beneficios-list{
  width:100%;
  max-width:360px; /* 🔥 más mobile */
  display:flex;
  flex-direction:column;
  gap:15px;
}

/* CUPON */

.ben-cupon{
  background:white;
  border-radius:18px;
  padding:18px; /* 🔥 reducido */
  position:relative;
  box-shadow:0 10px 22px rgba(0,0,0,0.18);
  border:2px dashed #2e7d32;
  text-align:center;
}

/* AGUJEROS */

.ben-cupon:before,
.ben-cupon:after{
  content:"";
  position:absolute;
  width:14px; /* 🔥 más chico */
  height:14px;
  background:#e8f7e8;
  border-radius:50%;
  top:50%;
  transform:translateY(-50%);
}

.ben-cupon:before{
  left:-7px;
}

.ben-cupon:after{
  right:-7px;
}

/* TITULO */

.ben-cupon-title{
  font-size:11px;
  font-weight:700;
  letter-spacing:1px;
  color:#2e7d32;
}

/* BENEFICIO */

.ben-cupon-desc{
  font-size:20px; /* 🔥 antes 24 */
  font-weight:900;
  color:#1b5e20;
  margin-top:6px;
}

/* SUBTEXTO */

.ben-cupon-sub{
  font-size:11px;
  color:#666;
  margin-top:6px;
}

/* PLACEHOLDER */

.ben-placeholder{
  width:100%;
  max-width:360px;
  background:rgba(255,255,255,0.85);
  border-radius:16px;
  padding:16px;
  text-align:center;
}